
.error-box {
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
  padding: 8px;
  border-radius: 5px;
  margin: 4px 0;
}
#btn{
    background-color: cyan;
    color: black;
    padding: 3px;
    margin: 2px;
    width: 70px;
    border-radius: 10px;
    height: 50px;

}
